# OpenAI API Settings
OPENAI_API_KEY=Your-API-Key

#SerperApi Key
SERPER_API_KEY=Your-API-Key
SERP_API_KEY=Your-API-Key
SERPAPI_API_KEY=Your-API-Key

EMAIL_SENDER=Your Email ID
EMAIL_APP_PASSWORD=Your APP Password
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=Port No

# Email Configuration
EMAIL_USER=Same Email ID as in EMAIL_SENDER
EMAIL_PASS=Your APP Password as in EMAIL_APP_PASSWORD
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=Same Port No as in SMTP_PORT
IMAP_SERVER=imap.gmail.com

CREW_VERBOSE=false
CREW_TRACING=false

HF_HUB_DISABLE_SYMLINKS_WARNING=1