aiofiles
aiohappyeyeballs
aiohttp
aiohttp-retry
aiosignal
aiosqlite
altair
annotated-doc
annotated-types
anyio
appdirs
attrs
backoff
bcrypt
beautifulsoup4
blinker
build
cel-python
certifi
cffi
charset-normalizer
chromadb
click
colorama
crewai
crewai-cli
crewai-core
crewai-tools
cryptography
dataclasses-json
deepeval
defusedxml
deprecation
distro
docstring_parser
durationpy
et_xmlfile
execnet
faiss-cpu
fastembed
filelock
flatbuffers
frozenlist
fsspec
google-re2
googleapis-common-protos
greenlet
grpcio
h11
hf-xet
httpcore
httptools
httpx
httpx-sse
huggingface_hub
idna
importlib_resources
iniconfig
instructor
itsdangerous
Jinja2
jiter
jmespath
json5
json_repair
jsonpatch
jsonpointer
jsonref
jsonschema
jsonschema-specifications
kubernetes
lance-namespace
lance-namespace-urllib3-client
lancedb
langchain
langchain-classic
langchain-community
langchain-core
langchain-openai
langchain-protocol
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
lark
linkify-it-py
loguru
lxml
markdown-it-py
MarkupSafe
marshmallow
mcp
mcpadapt
mdit-py-plugins
mdurl
mmh3
multidict
mypy_extensions
narwhals
nemoguardrails
nest-asyncio
numpy
oauthlib
onnxruntime
openai
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
orjson
ormsgpack
overrides
packaging
pandas
pdfminer.six
pdfplumber
pendulum
pillow
platformdirs
pluggy
portalocker
posthog
prompt_toolkit
propcache
protobuf
py_rust_stemmers
pyarrow
pybase64
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
pyfiglet
Pygments
PyJWT
PyMuPDF
pypdf
pypdfium2
PyPika
pyproject_hooks
pytest
pytest-asyncio
pytest-repeat
pytest-rerunfailures
pytest-xdist
python-dateutil
python-docx
python-dotenv
python-multipart
pytube
pytz
PyYAML
questionary
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rich
rpds-py
serpapi
shellingham
simpleeval
six
sniffio
soupsieve
SQLAlchemy
sse-starlette
starlette
streamlit
tabulate
tenacity
textual
tiktoken
tokenizers
toml
tomli
tomli_w
tqdm
typer
typing-inspect
typing-inspection
typing_extensions
tzdata
uc-micro-py
urllib3
uuid_utils
uv
uvicorn
watchdog
watchfiles
wcwidth
websocket-client
websockets
win32_setctime
xxhash
yarl
youtube-transcript-api
zstandard